.sidebar{
  position: sticky;
  top:100px;
  height: 100%;
}
.category__items{
    list-style-type: none;
    line-height: 40px;
    padding-left: 0;
    text-transform: uppercase;
    display: block;
    padding-left: 20px;
  cursor: pointer; 

    
}
.nav{
    position: relative;
}
.nav:hover > ul {
transition-delay: 2s;
transition: ease-in;
display: block;
}

.category__items:hover{
  background-color: black;
  }
  .category__items:hover > a{
  color: white;
  }
.category__items  > a{
  text-decoration: none;
  color: black;
    font-weight: 600px;
    font-size: 18px;
}
.category__items.active {
  background-color  : black;
}
.category__items.active > a {
  background-color  : black;
  text-decoration: none;
  color: white;
}
